<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Reservar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-datetime min="2022-03-01T00:00:00"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-range
          [min]="0"
          [max]="5"
          [value]="100"
          [pin]="true"
          [ticks]="true"
          [snaps]="true"
        ></ion-range>
      </ion-item>
      <ion-item> </ion-item>
      <ion-item> </ion-item>
      <ion-item> </ion-item>
      <ion-item> </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
