<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Reservar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-datetime min="2022-03-01T00:00:00"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-range
          [min]="0"
          [max]="5"
          [value]="100"
          [pin]="true"
          [ticks]="true"
          [snaps]="true"
        ></ion-range>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-label>Alberca</ion-label></ion-item
      >
      <ion-item
        ><ion-checkbox slot="end"></ion-checkbox>
        <ion-label>Futbolito</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-label>Brincolin</ion-label></ion-item
      >
      <ion-item>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-label>Mesa para postres</ion-label></ion-item
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button color="success" expand="block" shape="round">
        <ion-icon name="checkmark-outline"></ion-icon>&nbsp;
        <ion-label class="txtWhite">Guardar</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
